/* Add css rules here for your application. */
* {
	margin: 0;
	padding: 0;
}

body {
	font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans",
		sans-serif !important;
	background-color: #f9f9f9 !important;
}

.test{
	background-color: white;
	padding: 5px;
}

.testImageButton{
	color: black;
	background: transparent url(arrowRight.jpg);
}

.cardPlaced {
	border: 1px solid;
	font-size: 10px;
	padding: 2px;
	margin-bottom: 2px;
	background-color: #E0E0E0;
	border-radius: 5px;
}

.card {
	border: 1px solid;
	padding: 2px;
	margin-bottom: 2px;
	font-size: 10px;
	background-color: lightsteelblue;
	border-radius: 5px;
}



.courseCard{
	font-size: 6pt;
}

.teacherCard{
	font-size: 7pt;
	text-align: right;
	margin-right: 5px;	
}

.groupCard{
	font-size: 7pt;
	text-align: left;
}

.panelCell {
	border: medium solid;
}

.small_title {
	font-size: medium;
	font-style: normal;
	font-family: MS PMincho;
}

.panel_filter_options {
	background-color: cornflowerblue;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-left: thin solid black;
	border-top: thin solid black;
	border-bottom: thin solid black;
}

.card_filter {
	background-color: cornflowerblue;
	border-radius: 10px;
	margin: 5px;
	border: thin solid black;

}
. {
	color: Black;
	margin: 0px;
	padding: 0px;
	background-color: Silver;
}

.background_flextable{
	background: white;
	background-color: white;
}

.white{
	color: white;
}

.Header {
	background: #258;
	color: #FF4901;
	/*text-align: center;*/
	font-weight: bold;
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.ConnexionButton {
	text-align: center;
}
.HtmlPanel {
	margin: 0px;
	text-align: center;
}
.login {
	background: #258;
	box-shadow: 8px 8px 12px #aaa;
	border-radius: 6px;
	color: #FF4901;
	margin-top: 5%;
	font-weight: bold;
	
}

.subscribe {
	background: #258;
	/*text-align: center;*/
	box-shadow: 8px 8px 12px #aaa;
	border-radius: 6px;
	color: #FF4901;
	margin-top: 5%;
	font-weight: bold;
	
}
.errorLabel {
	color: red;
	font-weight: bold;
}
.project {
	background: #FF4901;
	color: white;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	font-weight: bold;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.instancePanel {
	background-color: cornflowerblue;
	margin-right: 5px;
}
.currentInstanceNumber {
	color: black;
	font-stretch: extra-expanded;
	font-variant: small-caps;
	font-size: 14mm;
	font-style: normal;
	font-family: Century Gothic;
	font-weight: bold;
}
.simpleLabel {
	color: black;
	font-size: 9px;
}

.flextable{
	font-size: 10px;
	background-color: lightsteelblue;
}

.panelFlextable{
	font-size: 10px;
	background-color: lightsteelblue;
}

.ProjectCarton1{
	background-color: cornflowerblue;
	color: white;
	box-shadow: 8px 8px 12px #aaa;
	padding-left: 5px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 5px;
	font-size: 9pt;
}
.projectNameLabel {
	color: black;

}
.singleProject {
	background-color: #E0E0E0;
	border-radius: 5px;
	margin-bottom: 10px;
	
}

.popup {
  background-color: gray;
  border-color: gray gray gray gray;
  border-width: 1px 3px 3px 1px;
  border-style: solid solid solid solid;
}
 
.popup-item {
  font-weight: normal;
  font-size: 100%;
}
.projectHyperlink {
	color: white;
	padding-top : 35px;
	padding-bottom: 35px;
	padding-left: 20px;
	padding-right:20px;
}
.gwt-Hyperlink {
}
.labelWelcome {
	padding-right: 10px;
	padding-left: 10px;
}

.popupPresenter{
	border-radius: 5px;
	border-color: gray gray gray gray;
  	border-width: 3px 2px 2px 2px;
 	border-style: solid solid solid solid;
 	background: #F6F6F6;
 	box-shadow: 8px 8px 12px #aaa;
}
.popupPresenterExitBar {
	background: gray;
	padding-right: 5px;
	padding-left: 5px;
}

.clickable{
	cursor: pointer;
}
.card_filter_options {
	background-color: cornflowerblue;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-right: thin solid black;
	border-top: thin solid black;
	border-bottom: thin solid black;
}

.notif{
	border: 1px solid;
	padding: 7px 2px 7px 2px;
	margin-bottom: 2px;
	font-size: 10px;
	background-color: lightsteelblue;
	border-radius: 5px;
}
.notif_error{
	border: 1px solid;
	padding: 7px 2px 7px 2px;
	margin-bottom: 2px;
	font-size: 10px;
	background-color: #DB1702;
	border-radius: 5px;
}

.lowgreen{
	
}

.middlegreen{
	
}

.highgreen{
	
}

.loworange{
	
}

.middleorange{
	
}

.highorange{
	
}

.lowred{
	
}

.middlered{
	
}

.highred{
	
}