/* Add css rules here for your application. */
* {
	margin: 0;
	padding: 0;
}

body {
	font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans",
		sans-serif !important;
	background-color: #f9f9f9 !important;
}

.cardPlaced {
	border: medium solid;
	font-size: 10px;
	background: #F00;
	color: red;
}

.card {
	border: medium solid;
	font-size: 10px;
	background-color: lightsteelblue;
}

.courseCard{
	font-size: 6pt;
}

.teacherCard{
	font-size: 7pt;
	text-align: right;
	margin-right: 5px;
	
}

.groupCard{
	font-size: 7pt;
	text-align: left;
}

.panelCell {
	border: medium solid;
}
.small_title {
	font-size: medium;
	font-style: normal;
	font-family: MS PMincho;
}
.panel_filter_options {
	background-color: cornflowerblue;
}
. {
	margin: 5px;
	background-color: White;
}

.Header {
	background: #258;
	color: #FF4901;
	/*text-align: center;*/
	font-weight: bold;
	padding: 10px;
}
.ConnexionButton {
	text-align: center;
}
.HtmlPanel {
	text-align: center;
}
.login {
	background: #258;
	//text-align: center;
	box-shadow: 8px 8px 12px #aaa;
	border-radius: 6px;
	color: #FF4901;
	margin-top: 5%;
	font-weight: bold;
	
}
.login:a {
	color: white;
	font-size: medium;
	font-family: calibri, verdana, arial, "times new roman";
	font-weight: bold;
	text-decoration: underline;
	
}
.subscribe {
	background: #258;
	/*text-align: center;*/
	box-shadow: 8px 8px 12px #aaa;
	border-radius: 6px;
	color: #FF4901;
	margin-top: 5%;
	font-weight: bold;
	
}
.errorLabel {
	color: red;
	font-weight: bold;
}
.project {
	background: #FFA000;
	/*#BBD2E1; 
	//text-align: center;*/
	color: white;
	font-weight: bold;
	padding: 10px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	margin-left: 10px;
	margin-right: 10px;
	
}
.instancePanel {
	margin: 5px;
	border-top: thin solid black;
	border-right: thin solid Black;
	border-bottom: thin solid Black;
	border-left: thin solid black;
	background-color: gold;
}
.currentInstanceNumber {
	color: black;
	font-stretch: extra-expanded;
	font-variant: small-caps;
	font-size: 18mm;
	font-style: normal;
	font-family: Century Gothic;
	font-weight: bold;
}
.simpleLabel {
	color: black;
	font-size: 9px;
}

.flextable{
	border: medium solid;
	font-size: 10px;
	background-color: lightsteelblue;
}